<ng-container>
  <ng-template [ngIf]="isLoggedIn">
    <div class="login-wrp">
      <form [formGroup]="loginForm" novalidate>
        <h2>Sign In</h2>
        <p>Welcome back! Please enter your details</p>
        <div class="login-control">
          <input
            type="email"
            placeholder=" "
            id="email"
            autocomplete="off"
            class="email-inpt"
            formControlName="username"
          />
          <label for="email" class="email-labl">Email or Username</label>
        </div>

        <div class="login-control">
          <input
            type="password"
            placeholder=" "
            id="password"
            autocomplete="off"
            class="pass-inpt"
            formControlName="password"
          />
          <label for="password" class="pass-labl">Enter your password</label>
        </div>
      </form>

      <a href="javascript:void(0)" class="forgot-pass">Forgot Password</a>

      <button type="button" class="login-btn" (click)="loginUser()">
        Log In
      </button>

      <div class="login-other-platforms">
        <button class="signup-with-google" type="button">Google</button>
        <button class="signup-with-fb" type="button">Facebook</button>
      </div>

      <p class="account-txt">
        Don't you have an account?
        <a
          href="javascript:void(0)"
          class="sign-up-link"
          (click)="registerUserForm()"
          >Sign Up</a
        >
      </p>
    </div>
  </ng-template>
  <ng-template [ngIf]="!isLoggedIn">
    <div class="login-wrp">
      <h2>Create An Account</h2>
      <p>Complete all the fields to create account</p>

      <form [formGroup]="registerForm" novalidate>
        <div class="login-control">
          <input
            type="text"
            placeholder=" "
            id="fname"
            autocomplete="off"
            class="fname"
            formControlName="firstName"
          />
          <label for="fname" class="fname-labl">First Name</label>
        </div>
  
        <div class="login-control">
          <input
            type="text"
            placeholder=" "
            id="lname"
            autocomplete="off"
            class="lname"
            formControlName="lastName"
          />
          <label for="lname" class="lname-labl">Last Name</label>
        </div>
  
        <div class="login-control">
          <input
            type="email"
            placeholder=" "
            id="email"
            autocomplete="off"
            class="email-inpt"
            formControlName="email"
          />
          <label for="email" class="email-labl">Email</label>
        </div>
  
        <div class="login-control">
          <input
            type="password"
            placeholder=" "
            id="password"
            autocomplete="off"
            class="pass-inpt"
            formControlName="password"
          />
          <label for="password" class="pass-labl">Password</label>
        </div>
  
        <p class="suggest-pass-pattrn">
          Passwords must be between 8 and 20 characters in length and contain 1
          upper case letter, 1 lower case letter, and 1 number.
        </p>
  
        <div class="login-checkbox">
          <input type="checkbox" id="condition" formControlName="termcondition"/>
          <label for="condition" class="accept-conditions"
            >Accept All Terms & Conditons</label
          >
        </div>
      </form>
      <button type="button" class="create-acc-btn" (click)="handleUserRegisteration()" [disabled]="!registerForm.controls['termcondition'].value">Register</button>
    </div>
  </ng-template>
</ng-container>
