<section class="best-seller-section">
  <div class="container">
    <h1 class="title">Best Seller</h1>

    <div class="best-seller-controls">
      <form [formGroup]="tabForm">
        <div class="formControl">
          <ul class="best-seller-control-list">
            <li class="best-seller-control-listItem" *ngFor="let item of bestSellerFilter">
              <label for="filter">
                <input type="radio" name="filter" id="filter" [formControlName]="'filter'" />
                {{item.filterName}}
              </label>
            </li>
          </ul>
        </div>
      </form>
    </div>

    <div class="product-cards-section">
      <ng-container *ngIf="productFilterList">
        <ng-container *ngFor="let item of productFilterList">
          <app-product-card [productDetails]="item"></app-product-card>
        </ng-container>
      </ng-container>
    </div>
  </div>
</section>
