<section class="best-seller-section">
  <div class="container">
    <h1 class="title">Best Seller</h1>

    <div class="best-seller-controls">
      <ul class="best-seller-control-list">
        <li class="best-seller-control-listItem">
          <a routerLink="">All Products</a>
        </li>
        <li class="best-seller-control-listItem">
          <a routerLink="">T-shirt</a>
        </li>
        <li class="best-seller-control-listItem">
          <a routerLink="">Hoodies</a>
        </li>
        <li class="best-seller-control-listItem">
          <a routerLink="">Jacket</a>
        </li>
      </ul>
    </div>

    <div class="product-cards-section">
      <ng-container *ngIf="productFilterList">
          <ng-container  *ngFor="let item of productFilterList">
              <app-product-card [productDetails]="item"></app-product-card>
          </ng-container>
      </ng-container>
  </div>
  </div>
</section>
