.footer-section {
  .row {
    display: flex;

    .col{
        flex: 0 0 25%;
        max-width: 25%;
        padding-right: 56px;
    }

    .col-auto{
        flex: 1 0 auto;
        max-width: 100%;
    }
    .main-logo {
      display: flex;
      font-size: 20px;
      margin-bottom: 32px;
    
      &::before,
      &::after {
        content: "";
        background: url(../../../assets/main-logo.svg);
        background-repeat: no-repeat;
        display: block;
        height: 15px;
        width: 31px;
        margin: 0 10px;
      }

      &::before{
        margin-left: 0;
      }
    }

    .social-links-item{
        list-style: none;
        margin-top: 32px;
        display: flex;
        width: 100%;
        max-width: 208px;
        justify-content: space-between;

        .social-link-items{
            font-size: 25px;
        }
    }

    .footer-desc{
        font-size: 16px;
        color: rgba(30, 40, 50,0.5);
        line-height: 26px;
    }


    .link-title{
        font-size: 16px;
        font-weight: 500;
    }
    .footer-link-list{
        list-style: none;

        .footer-link-item{
            margin-bottom: 12px;
            font-size: 14px;
            a{
                text-decoration: none;
                color: #1E2832;
            }
        }
    }
  }

  .second-footer{
    background-color: #1E2832;
    color: #fff;
    padding: 16px 0;
    margin-top: 50px;
    .row{
        justify-content: space-between;
        align-items: center;
    }
  }
}
