<footer class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="main-logo">CORAL</p>
        <p class="footer-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua
        </p>

        <ul class="social-links-item">
          <li class="social-link-items">
            <i class="fa-brands fa-facebook"></i>
          </li>
          <li class="social-link-items">
            <i class="fa-brands fa-facebook"></i>
          </li>
          <li class="social-link-items">
            <i class="fa-brands fa-facebook"></i>
          </li>
          <li class="social-link-items">
            <i class="fa-brands fa-facebook"></i>
          </li>
        </ul>
      </div>
      <div class="col-auto">
        <p class="link-title">CATALOG</p>
        <ul class="footer-link-list">
          <li class="footer-link-item">
            <a href="">Necklaces</a>
          </li>
          <li class="footer-link-item">
            <a href="">Hoodies</a>
          </li>
          <li class="footer-link-item">
            <a href="">Jewelry Box</a>
          </li>
          <li class="footer-link-item">
            <a href="">T-shirt</a>
          </li>
          <li class="footer-link-item">
            <a href="">Jacket</a>
          </li>
        </ul>
      </div>
      <div class="col-auto">
        <p class="link-title">ABOUT US</p>
        <ul class="footer-link-list">
          <li class="footer-link-item">
            <a href="">Our Producers</a>
          </li>
          <li class="footer-link-item">
            <a href="">Sitemap</a>
          </li>
          <li class="footer-link-item">
            <a href="">FAQ</a>
          </li>
          <li class="footer-link-item">
            <a href="">About Us</a>
          </li>
          <li class="footer-link-item">
            <a href="">Terms & Conditions</a>
          </li>
        </ul>
      </div>
      <div class="col-auto">
        <p class="link-title">CUSTOMER SERVICES</p>
        <ul class="footer-link-list">
          <li class="footer-link-item">
            <a href="">Contact Us</a>
          </li>
          <li class="footer-link-item">
            <a href="">Track Your Order</a>
          </li>
          <li class="footer-link-item">
            <a href="">Product Care & Repair</a>
          </li>
          <li class="footer-link-item">
            <a href="">Book an Appointment</a>
          </li>
          <li class="footer-link-item">
            <a href="">Shipping & Returns</a>
          </li>
        </ul>
      </div>
    </div>

</div>
<div class="second-footer">
    <div class="container">
        <div class="row">
            <div class="">
                <p>&copy;2022 Coral , Inc.</p>
            </div>
            <div class="">
                <img src="assets/icons_payment.jpg" alt="">
            </div>
            <div class="">
                <p>Scroll To Top ⬆️</p>
            </div>
        </div>
    </div>
   
</div>

</footer>
