<!-- Login -->

<div class="login-wrp">
    <h2>Sign In</h2>
    <p>Welcome back! Please enter your details</p>
    <div class="login-control">
        <input type="email" placeholder=" " id="email" autocomplete="off" class="email-inpt">
        <label for="email" class="email-labl">Email or Username</label>
    </div>

    <div class="login-control">
        <input type="password" placeholder=" " id="password" autocomplete="off" class="pass-inpt">
        <label for="password" class="pass-labl">Enter your password</label>
    </div>

    <a href="javascript:void(0)" class="forgot-pass">Forgot Password</a>

    <button type="button" class="login-btn">Submit</button>

    <div class="login-other-platforms">
        <button class="signup-with-google" type="button">Google</button>
        <button class="signup-with-fb" type="button">Facebook</button>
    </div>

    <p class="account-txt">Don't you have an account? <a href="javascript:void(0)" class="sign-up-link">Sign Up</a></p>

   <!-- Signup -->
   
        <!-- <h2>Create An Account</h2>
        <p>Complete all the fields to create account</p>
    
        <div class="login-control">
            <input type="text" placeholder=" " id="fname" autocomplete="off" class="fname">
            <label for="fname" class="fname-labl">First Name</label>
        </div>
    
        <div class="login-control">
            <input type="text" placeholder=" " id="lname" autocomplete="off" class="lname">
            <label for="lname" class="lname-labl">Last Name</label>
        </div>
    
        <div class="login-control">
            <input type="email" placeholder=" " id="email" autocomplete="off" class="email-inpt">
            <label for="email" class="email-labl">Email</label>
        </div>
    
        <div class="login-control">
            <input type="password" placeholder=" " id="password" autocomplete="off" class="pass-inpt">
            <label for="password" class="pass-labl">Password</label>
        </div>
    
        <p class="suggest-pass-pattrn">Passwords must be between 8 and 20 characters in length and contain 1 upper case letter, 1 lower case letter, and 1 number.</p>
    
        <div class="login-checkbox">
            <input type="checkbox" id="condition">
            <label for="condition" class="accept-conditions">Accept All Terms & Conditons</label>
        </div>

        <button type="button" class="create-acc-btn">Submit</button> -->
    
   
</div>

