<section class="product-cart container" #productCartDiv>
  <div
    class="product-details-container"
    *ngIf="productDetails.length; else noDataDiv"
  >
    <div class="cart-product-details">
      <h1 class="main-title">My Products({{ productCount }})</h1>
      <div class="product-card" *ngFor="let item of productDetails">
        <div class="product-image">
          <img [src]="item.productImage" alt="" />
        </div>
        <div class="order-summary">
          <div class="box">
            <div class="itemList">
              <p>Product Name</p>
              <p>{{ item.productName }}</p>
            </div>
            <div class="itemList">
              <p>Product Price</p>
              <p>{{ item.productPrice }}</p>
            </div>
            <div class="itemList">
              <p>Product Saving</p>
              <p>$2000</p>
            </div>
            <div class="itemList">
              <p>Quantity</p>
              <p>{{ item.quanitity }}</p>
            </div>
            <div class="itemList">
              <p>Shipping</p>
              <p>Free</p>
            </div>
          </div>
          <div class="box">
            <div class="itemList">
              <p>Payable Amount</p>
              <p>{{ item.productPrice }}</p>
            </div>
          </div>
        </div>
      </div>
      <a routerLink="/checkout"  class="placeOrder">Place Order</a>
    </div>
  </div>
  <ng-template #noDataDiv>
    <div class="empty-cart-wrapper">
      <h2>Your cart is empty</h2>
      <p>
        Look like you have not added anything to your cart. Go ahead & explore
        top categories
      </p>
    </div>
  </ng-template>
</section>
