* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.container {
  max-width: 1320px;
  margin: 0 auto;
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
