* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
  overflow-y: auto;
}

router-outlet + *{
  flex: 1;
}


.container {
  max-width: 1320px;
  margin: 0 auto;
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}


a{
  text-decoration: none;
  color: #000;
}