.products-wrapper{
    padding: 24px;

    .main-title{
        font-weight: 500;
        margin-bottom: 8px;
    }

    .product-action-ctawrapper{
        margin: 20px 0;
        .add-productCta{
            all: unset;
            background-color: #1e2832;
            color: #fff;
            padding: 10px 24px;
            margin-left:auto ;
            display: flex;
            cursor: pointer;
        }

    }

    .data-table-wrapper{

        .mat-elevation-z8{
            box-shadow: none;
            border: 1px solid #ddd;
        }
        .image-cell{
            width: 100px;
            height: 100px;
        }
    }
}