.container {
  .product-banner {
    height: 100%;
    width: 100%;
    background-color: red;
    max-height: 100%;
    min-height: 400px;
  }
  .flex-container {
    display: flex;
    gap: 40px;
    margin: 26px 0;
  }

  .product-filter-section {
    flex: 1 0 270px;
    padding: 16px;
    height: 100%;
    min-height: 700px;
    position: sticky;
    top: 10px;
    .filter-title {
      padding: 16px;
      border-bottom: 1px solid #ddd;
      margin-bottom: 0;
      font-size: 20px;
    }

    mat-slider {
      width: 100%;
    }
  }
  .product-section {
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}
