// // @import url('../edit-partner-details-dialog/edit-partner-details-dialog.component.css');

// .chip-cancel-btn { display: flex; justify-content: center; align-items: center; border: none;}

// .chip-cancel-btn mat-icon { width: 18px; height: 18px; font-size: 18px; }