.checkoutWrapper {
  padding: 40px 0;
  .backLink {
    display: flex;
    align-items: center;
    font-size: 14px;
    > .backArrow {
      height: 8px;
      width: 8px;
      display: inline-block;
      transform: rotate(45deg);
      border-bottom: 2px solid #000;
      border-left: 2px solid #000;
      margin-right: 4px;
    }
  }

  .checkoutFormWrapper{
    padding:40px 0;
    display: flex;
  }
  .shippingAddressWrapper{
    flex: 0 0 60%;
    max-width: 60%;

    .addressRadioControl{
        label{
            padding: 8px;
            font-size: 16px;
            padding: 12px;
            position: relative;
            display: block;
            input[type="radio"]{
                cursor: pointer;
                border-radius: 8px;
                appearance: none;
                position: absolute;
                border: 1px solid #7d7d7d;
                inset: 0;

                &:checked{
                    border: 1px solid #000;


                    + .controlLabel{

                       .radioControlCircle{
                        border: 1px solid #000;
                        &::before{
                            background-color: #000;
                        }

                       }
                    }
                }
            }

            .controlLabel{
                margin: 0;
                display: flex;
                align-items: center;
                cursor: pointer;

                .radioControlCircle{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 1px solid #7d7d7d;
                    margin-right: 8px;
                    position: relative;

                    &::before{
                        content: '';
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        background-color: #7d7d7d;
                        border-radius: 50%;
                        
                    }
                }
                
            }
        }
    }
    
  }
  }
