.checkoutWrapper {
  padding: 40px 0;
  .main-logo {
    display: flex;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 12px;
   
  }
  .backLink {
    display: flex;
    align-items: center;
    font-size: 14px;
    > .backArrow {
      height: 8px;
      width: 8px;
      display: inline-block;
      transform: rotate(45deg);
      border-bottom: 2px solid #000;
      border-left: 2px solid #000;
      margin-right: 4px;
    }
  }

  }
