<header class="main-header">
  <div class="main-header-container">
    <mat-icon>search</mat-icon>
    <span class="main-logo">CORAL</span>

    <div class="menu-link">
      <ul class="menu-link-list">
        <li class="menu-link-list-item">
          <a routerLink="">Account</a>
        </li>
        <li class="menu-link-list-item">
          <a routerLink="">Shoping</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="link-header-container">
    <ul class="menu-link-list">
      <li class="menu-link-item">
        <a routerLink="">Jewelry & Accessories</a>
      </li>
      <li class="menu-link-item">
        <a routerLink="">Clothing & Shoes</a>
      </li>
      <li class="menu-link-item">
        <a routerLink="">Home & Living</a>
      </li>
      <li class="menu-link-item">
        <a routerLink="">Wedding & Party</a>
      </li>
      <li class="menu-link-item">
        <a routerLink="">Toys & Entertainment</a>
      </li>
      <li class="menu-link-item">
        <a routerLink="">Art & Collectibles</a>
      </li>
      <li class="menu-link-item">
        <a routerLink="">Craft Supplies & Tools</a>
      </li>


      
    </ul>
  </div>
</header>
